<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.png" />
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <nav>
      <ul>
	<li><a href="/">^</a></li>
	<li><a href="/todos">*</a></li>
	<li><a href="/apho">#</a></li>
	<li><a href="/poe">/</a></li>
	<li><a href="/list">$</a></li>
	<li><a href="/cal">@</a></li>
	<li><a href="/blog">()</a></li>
      </ul>
    </nav>
    <div class="container">
      
      {{ content }}
      
    </div><!-- /.container -->
    <footer>
      <ul>
	<li><a href="mailto:pilotedeguerre@gmail.com">email</a></li>
	<li><a href="https://github.com/applecargo">github</a></li>
	<li><a href="http://dianaband.info">dianaband</a></li>
	<!-- <li><a href="https://www.facebook.com/apple.cargo">fb</a></li>
	     <li><a href="https://twitter.com/applecargo">twit</a></li> -->
      </ul>
    </footer>
  </body>
</html>
